/* Empty. Add your own CSS if you like */

.sendmessage{
	background-color: white;
	height: 40px;
	display:inline-block;
}

.messages{
	margin-top:5px;
	margin-bottom:5px;
	background-color:#F0F0F0;
}

.platform-ios .bar-footer{
	/*background-color: #27AE61;*/
	bottom: 71px;
}

.add-background {
	  background-image: url("../img/login_img.png");
	  background-position: center;

}

.login-color{
	background-color: #4080F0;
}

.tile-data {
	margin-top: -120px;
    margin-bottom: 120px;
    height: 0;
    overflow: visible;
}

.tile-data h6 {
	margin-top:0px !important;
	color:white !important;
	font-weight:bold !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tile-data p {
	color:white !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.style-task-name{
	margin-bottom: 30px;
}

.float-right{
	float: right;
	top: -20px;
	margin-bottom: 0px;
	
}

.priority-design1{
	background-color: #E65453;
	width: 20px;
	height: 75px;
	float: right;
}

.priority-design2{
	background-color: #E67D21;
	width: 20px;
	height: 75px;
	float: right;
}

.priority-design3{
	background-color: #27AE61;
	width: 20px;
	height: 75px;
	float: right;
}

.add-text-size{
	font-size: 1.5em !important;
	font-weight: bold;
	font-family: helvetica;
	color: white;
	position: relative;
	margin-bottom: 0px;
    top: 65%;
    text-align: center;
}

.add-description-size{
	font-size: 1em !important;
	font-weight: bold;
	font-family: helvetica;
	color: white;
	position: relative;
    top: 65%;
    text-align: center;
}

.add-text-style{
	font-family: helvetica;
	color: black;
	padding-top: 40px;
	margin-left: 10px;
}
.add-priority-background{
	background-color: #27AE61;
	height: 33%;

}

.add-priority-background2{
	background-color: #E67D21;
	height: 33%;
}

.add-avatar-a{
	position: absolute;
    left: 50%;
}
.add-avatar-img{
	position: relative;
    right: 50%;
    border-style: solid;
    border-radius: 100%;
    border-width: 2px;
    border-color: white;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.add-some-padding{
	padding-top: 5px;
	padding-left: 15px;
}
