/* Empty. Add your own CSS if you like */

.input{
	background-color: white;
	height: 40px;
}

.messages{
	margin-top:5px;
	margin-bottom:5px;
	border-width:0px;
	background-color:#F0F0F0;
}
.img{
	height: 64;
	width:64;
}
.platform-android .chatbox{
	position: fixed;
	background-color: white;
}

.platform-ios .chatbox{
	position: fixed;
	margin-bottom: 20%;
}