<ion-view view-title ="{{groupData}}"> 
  <ion-pane>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

        <!-- Chat Tab -->
        <ion-tab title="Chat" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="">
          <ion-nav-view name="tab-dash"></ion-nav-view>
        </ion-tab>

        <!-- Task Tab -->
        <ion-tab title="Task" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/group/:group_id/dash" >
          <ion-nav-view name="tab-points"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
  </ion-pane>
</ion-view>

