<ion-view view-title ="{{groupname}}"> 
  <ion-pane>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <!-- Chat Tab -->
        <ion-tab title="Chats" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="/group/{{ group_id }}/chats" >
          <ion-nav-view name="tab-chats"></ion-nav-view>
        </ion-tab>

        <!-- Task Tab -->
        <ion-tab title="Tasks" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="/group/{{ group_id }}/task" >
          <ion-nav-view name="tab-task"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
  </ion-pane>
</ion-view>

