<ion-view view-title ="Groups">
    <ion-pane>
          <ion-content class="has-header">
              <!-- 
             <div class="list card">
        	     <div class="item">  
        	        <strong>TESTIerereNG</strong>
        	     </div>
        	   </div> -->

            <div ng-click="gotoURL('group', {{g.$id}})" class="list card" ng-repeat="g in groups">
                <a src="">
                  <div class="item item-image">
                    <img src={{g.img_url}}> 
                    <div class="tile-data">
                      <h6>{{g.name}}</h6>
                      <p>{{g.desc}}</p>
                    </div>
                  </div>
                </a>
             </div>

             <br />

             <button ng-click="gotoURL('/group_add/')" class="button button-calm mdl-js-button mdl-js-ripple-effect activated" data-upgraded=",MaterialButton,MaterialRipple">Press ME<span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 262.285px; height: 262.285px; transform: translate(-50%, -50%) translate(70px, 18px);"></span></span></button>

          </ion-content>
     </ion-pane>
</ion-view>


