<ion-view view-title ="Groups">

<ion-pane>
      <ion-content class="has-header">
           
<!--          <div class="list card">
    	     <div class="item">  
    	        <strong>TESTIerereNG</strong>
    	     </div>
    	   </div> -->


         <div ng-click="gotoURL('/group_add/')" class="list card">
            <a src="">
              <div class="item item-image">
                <img src="https://cdn-images-1.medium.com/max/2000/1*ntcyUXOd_89Ozw75dDGEqw.png"> 
                <h5>Software Engineering</h5>
                <p>testing description data</p>
              </div>
            </a>
         </div>

         
         <a href="#/group_add/">TEST 2</a>
          <br />  



         <button ng-click="gotoURL('/group_add/')" class="button button-calm mdl-js-button mdl-js-ripple-effect activated" data-upgraded=",MaterialButton,MaterialRipple">Press ME<span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 262.285px; height: 262.285px; transform: translate(-50%, -50%) translate(70px, 18px);"></span></span></button>

      </ion-content>
 </ion-pane>


