<ion-view style="" class=" " id="page3" title="Tasks">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="$myBack($event)"><i class="icon ion-arrow-left-c"></i></button>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true">

        <div id="page-card23" class="list card" padding-top="0px" margin-top="0px">
            <ion-item style="" ui-sref="" id="page-list-item5" class="item-avatar">
                <div class="priority-design3"></div>
                    <h3 class="style-task-name">Design Welcome Screen</h3>
                    <p style: "text-align: left">Kadeem Wharton</p> 
                    <br />
                    <p >Due: June 20th, 2016</p>
                    
                </div>
            </ion-item>
        </div>

        <div id="" class="list card" padding-top="0px" margin-top="0px">
            <ion-item style="" ui-sref="" id="page-list-item5" class="item-avatar">
                <div class="priority-design2"></div>
                    <h3 class="style-task-name">Social Media Integratation</h3>
                    <p style: "text-align: left">Ryvon Gittens</p> 
                    <br />
                    <p >Due: June 22nd, 2016</p>
                </div>
            </ion-item>
        </div>

        <div id="" class="list card" padding-top="0px" margin-top="0px">
            <ion-item style="" ui-sref="" id="page-list-item5" class="item-avatar">
                <div class="priority-design1"></div>
                    <h3 class="style-task-name">Add Data Structure</h3>
                    <p style: "text-align: left">Daria Gonsalves</p> 
                    <br />
                    <p >Due: June 24th, 2016</p>
                </div>
            </ion-item>
        </div>

        <div id="" class="list card" padding-top="0px" margin-top="0px">
            <ion-item style="" ui-sref="" id="page-list-item5" class="item-avatar">
                <div class="priority-design3" background-color="#27AE61"></div>
                    <h3 class="style-task-name">Add Splash Screen</h3>
                    <p style: "text-align: left">Ryvon Gittens</p> 
                    <br />
                    <p >Due: June 24th, 2016</p>
                </div>
            </ion-item>
        </div>

        <div id="" class="list card" padding-top="0px" margin-top="0px">
            <ion-item style="" ui-sref="" id="page-list-item5" class="item-avatar">
                <div class="priority-design1"></div>
                    <h3 class="style-task-name">Add Search Module</h3>
                    <p style: "text-align: left">Ranaco Phillips</p> 
                    <br />
                    <p >Due: June 27th, 2016</p>
                </div>
            </ion-item>
        </div>

        <div id="" class="list card" padding-top="0px" margin-top="0px">
            <ion-item style="" ui-sref="" id="page-list-item5" class="item-avatar">
                <div class="priority-design1"></div>
                    <h3 class="style-task-name">Final Testing</h3>
                    <p style: "text-align: left">Kadeem Wharton</p> 
                    <br />
                    <p >Due: July 10th, 2016</p>
                </div>
            </ion-item>
        </div>

        <div id="" class="list card" padding-top="0px" margin-top="0px">
            <ion-item style="" ui-sref="" id="page-list-item5" class="item-avatar">
                <div class="priority-design1"></div>
                    <h2 class="style-task-name">Finish Manual</h2>
                    <p style: "text-align: left">Arya Stark</p> 
                    <br />
                    <p >Due: July 12th, 2016</p>
                </div>
            </ion-item>
        </div>





        <div id="page-card22" class="list card ">
            <ion-item style="" ui-sref="page1" id="page-list-item3" class="item-icon-right positive  ">Add Task
                <i class="icon ion-android-add-circle"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>


padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;