<ion-view style="" class=" " id="page3" title="">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="$myBack($event)"><i class="icon ion-arrow-left-c"></i></button>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true">

        <div id="page-card23" class="list card ">
            <ion-item style="" ui-sref="" id="page-list-item5" class="item-avatar">
                <h3 class="style-task-name">Finish Introduction</h3>
                <p style: "text-align: left">Kadeem Wharton</p> 
            </div>
        </ion-item>

        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>

        <div style="width: 287px; height: 222px;" class="spacer"></div>
        
        <div id="page-card22" class="list card ">
            <ion-item style="" ui-sref="page1" id="page-list-item3" class="item-icon-right positive  ">Add Task
                <i class="icon ion-android-add-circle"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
