<ion-view view-title="Chats">
  <ion-nav-buttons side="left">
      <button class="button" ng-click="$myBack($event)" ui-sref="groups"><i class="icon ion-arrow-left-c"></i></button>
  </ion-nav-buttons>
  <ion-content >
    <div  style=" padding-bottom:100px;">
      <div ng-repeat="chat in chats">
      <div class="list messages" ng-if="showChats(chat.group_id)">

       <!--<div class="item item-avatar messages">
        <div class="item item-avatar img">
          <img ng-src="{{chat.imgURL}}" >
          <h5 class="img">{{chat.sender_name}}</h5>
          </div>
        </div>-->
        <div class="item item-avatar" >
          <img ng-src="{{chat.imgURL}}" >

        </div>
           <h6>{{chat.sender_name}}</h6>
          <p>{{chat.message}}</p>
        </div>

      </div>
    </div>
  </ion-content>
   <div class="bar bar-footer bar-balanced">
    <div class="title">
     <form>
       <div class="list ">
          <div class="item item-input-inset">
            <label class="item-input-wrapper sendmessage">
              <input type="text" placeholder="message" ng-model="chat.message" >
            </label>
            <button class="button ion ion-chatbubble custom-icon" ng-click = "sendChat(chat)" style="padding-bottom: 60px;font-size: 30px;color: yellow;"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-view>
